*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background-color: rgb(1, 54, 115);
    padding: 20px;
}

.footerTop{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.footerTop ul li{
    list-style: none;
    font-size: 13.5px;
    padding: 0 0 5px 0;
    cursor: pointer;
    color: #c5c7c9;
}

.footerTop ul li:hover{
    color: #ffffff;
}

.footerTop ul .Heading{
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
}

.footerTop ul p{
    font-size: 13.5px;
    line-height: 20px;
    word-spacing: 3px;
    color: #c5c7c9;
}

.footerBottom{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
    border-top: 0.7px solid #fff;
}

.footerBottom p{
    font-size: 13px;
    color: #c5c7c9;
}

.socialLinks{
    display: flex;
    gap: 1rem;
    color: #c5c7c9;
    cursor: pointer;
}

.sIcon:hover,.sIconT:hover{
    color: #ffffff;
    scale: 1.1;
}

.socialLinks .sIcon{
    font-size: 20px;
}

.sIconT{
    font-size: 17px;
}