* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.homeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        height: 500px;
        width: 700px;
    }

    .bannerContent{
        a{
            text-decoration: none;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1{
            font-size: 40px;
            font-weight: 900;
            color: rgb(1, 54, 115);
        }

        h3{
            font-size: 25px;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.749);
        }

        h5{
            font-size: 20px;
            font-weight: 300;
            color: chocolate
        }

        h2{
            font-size: 15px;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.755);
        }

        button{
            height: 40px;
            font-size: 17px;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
            border: none;
            background-color: rgb(1, 54, 115);
            color: #fff;
            border-radius: 3px;
            margin-top: 10px;
        }

        button:hover{
            background-color: rgb(2, 35, 73);
        }
    }
}