*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainCardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 80px 0;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(255px,auto));
    gap: 1.5rem;
    width: 90%;
    justify-content: center;
    transition: 0.9s;
    margin-top: 50px;
    align-items: center;
}

.card:hover{
    transform: scale(1.003);
}

.card{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 290px;
    width: 290px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.card .imgContainer{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    margin: 1px;
}

.cardContent{
    padding-left: 15px;
    width: 100%;
}

.card h4{
    font-size: 17px;
}

.card h5{
    font-size: 13px;
}

.card h3{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    color: chocolate;
}

.image{
    height: 200px;
    padding: 10px 0 0 0;
    object-fit: cover;
}

.ratingButton{
    height: 22px;
    width: 42px;
    background-color: green;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    gap: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;

    h3{
        font-size: 11px;
        color: #fff;
        font-weight: 550;
    }
}

/* pagination buttons */
.prev,.next{
    padding: 5px 8px;
    border-radius: 3px;
}

.linkCard{
    text-decoration: none;
    color: black;
}

.notFound{
    width: 100%;
    height: calc(100vh - 200px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}