.ViewPageConatiner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
}

.insideView {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.imgPart {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 0px 1px, rgba(209, 213, 219, 0.756) 0px 0px 0px 1px inset;
    border-radius: 5px;
    background-color: #f0eaea5f;
}

.imgPart img {
    height: 500px;
    margin: 10px;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;


    .title {
        font-size: 25px;
    }

    .price {
        font-size: 25px;
        color: rgb(1, 54, 115);

    }

    .rating {
        color: rgb(255, 140, 0);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .description {
        font-size: 17px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        background-color: #f0eaea5f;
        padding: 20px 10px;
        line-height: 30px;
        width: 40vw;
        color: rgb(75, 75, 75);
        font-weight: 200;
    }

    .discount {
        font-size: 17px;
        color: rgb(75, 75, 75);
    }

    .info {
        font-size: 17px;
        color: rgb(75, 75, 75);
    }

    .status {
        font-size: 15px;
        margin: 10px 0;
        color: green;
    }

    .buttonParts {
        display: flex;
        gap: 2rem;

        .cart,
        .buy {
            padding: 10px 20px;
            color: #fff;
            background-color: rgb(1, 54, 115);
            border-radius: 3px;
            cursor: pointer;
        }

        .buy {
            background-color: orangered;
        }
    }
}

/* remaining content*/
.remainingContent {
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;

     .brand {
        font-size: 15px;
        color: rgb(1, 54, 115);
    }

    .catagory {
        font-size: 15px;
        margin-left: 10px;
    }

    .policy {
        font-size: 15px;
        color: orangered;
        margin-left: 10px;
    }

    .warrenty {
        font-size: 15px;
        color: rgb(75, 75, 75);
    }

    .stock {
        font-size: 15px;
        color: green;
    }
}

/* review part */
.otherDetails {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .titleReview{
        font-size: 20px;
    }
}

.reviews {
    display: flex;
    gap: 2rem;
}

.reviewPart {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f0eaea5f;

    .reviewRating {
        font-size: 11px;
        display: flex;
        justify-content: space-between;

        .reviewRatingInner {
            display: flex;
            align-items: center;
            gap: 5px;
            color: rgb(255, 140, 0);
        }
    }

    .reviewComment {
        font-size: 17px;
        margin: 10px 0;
    }

    .reviewName {
        font-size: 13px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        color: rgb(75, 75, 75);
        color: rgb(1, 54, 115);
    }
}

/* alert message */
.message{
    position: absolute;
    top: 80px;
    background-color: rgb(1, 10, 100);
    color: gold;
    padding: 15px 25px;
    border-radius: 3px;
}